﻿@using PR60_2016.Models;
@{ ViewBag.Title = "Index";
                Korisnik us = (Korisnik)Session["US"]; }

<form action="~/Profile/EditProfile" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Ime</label>
        <input type="text" class="form-control" value="@us.Ime" name="ime" id="inputDefault" required>



        <label class="col-form-label" for="inputDefault">Prezime</label>
        <input type="text" class="form-control" value="@us.Prezime" name="prezime" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Username</label>
        <input type="text" class="form-control" value="@us.Username" name="username" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Password</label>
        <input type="password" class="form-control" value="@us.Password" name="password" id="sifra" required>


        
        

        <br>
        <label>Pol</label>

        <select name="pol" value="@us.Pol">
            <option>@us.Pol</option>
            <option value="Male">Musko</option>
            <option value="Female">Zensko</option>

        </select>

        <button type="submit" class="btn btn-primary">Izmeni</button>
    </div>
</form>


