﻿
@{
    ViewBag.Title = "Index";
}

<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>


<h2>All registrated users!</h2>
<form action="~/Admin/SearchUsers" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="ime" id="myInput" placeholder="ime">

        <input type="text" class="form-control" name="prezime" id="myInput" placeholder="prezime">

        <label>Role</label>

        <select name="role">
            <option value="Undefined">Undefined</option>
            <option value="Administrator">Administrator</option>
            <option value="Menadzer">Menadzer</option>
            <option value="Turista">Turista</option>

        </select>
        <button type="submit" class="btn btn-primary">Search</button>

    </div>

</form>
<button>@Html.ActionLink("All users", "AllUsers", "Admin", new { }, null)</button>

<form action="~/Admin/SortUsers" method="post">
    <label>Sort users by:</label> 
    <select name="shelp">
        <option value="nameaz">Name a-z</option>
        <option value="nameza">Name z-a</option>
        <option value="lastasc">Lastname asc</option>
        <option value="lastdsc">Lastname dsc</option>
        <option value="roleasc">Role asc</option>
        <option value="roledsc">Role dsc</option>
       
    </select>
    <button type="submit" class="btn btn-primary">Sort</button>
</form>



@{ if (ViewBag.Find != null)
    {

    } }

<br>

@{ if (ViewBag.Error != null)
    {
    <label style="color:red">@ViewBag.Error</label> }
    if (ViewBag.Errorp != null)
    {
    <label style="color:red">@ViewBag.Errorp</label> }

    }
@{ if (ViewBag.Find == null)
    {

    }

    else
    {
    <table id="myTable">
        <tr class="header">
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>
            <th>Datum rodjenja</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
        @{ foreach (var us in ViewBag.Find)
            {
                if (us.Value.Deleted == false)
                {
            <tr>
                <td>@us.Value.Ime</td>
                <td>@us.Value.Prezime</td>
                <td>@us.Value.Pol</td>
                <td>@us.Value.BirthDate.ToString()</td>
                <td>@us.Value.Username</td>
                <td>@us.Value.Email</td>
                <td>@us.Value.Role</td>
                <td><button class="btn-danger">@Html.ActionLink("Delete", "BrisanjeUsera", "Admin", new { id = us.Value.Id }, null)</button></td>
            </tr> }
            } }
    </table> } }

            