﻿@using PR60_2016.Models
@{
    ViewBag.Title = "SumnjiviTuristi";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>SumnjiviTuristi</h2>

<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>



@{ if (ViewBag.Find == null)
                {

                }
                else
                {
    <table id="myTable">
        <tr class="header">
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>
            <th>Datum rodjenja</th>
            <th>Username</th>
            <th>Broj otkazivanja</th>
            <th></th>
        </tr>
        @{ foreach (var u in ViewBag.Find)
                            {
                                if (u.Value.Deleted == false && u.Value.Blocked == false && u.Value.Role != UserRole.ADMINISTRATOR)
                                {
            <tr>
                <td>@u.Value.Ime</td>
                <td>@u.Value.Prezime</td>
                <td>@u.Value.Pol</td>
                <td>@u.Value.BirthDate.ToString()</td>
                <td>@u.Value.Username</td>
                <td>@u.Value.Canceled</td>
                <td><button class="btn-danger">@Html.ActionLink("Blokiraj", "BlokiraniTuristi", "Admin", new { id = u.Value.Id }, null)</button></td>
            </tr> }
                            } }
    </table> } }