﻿
@{ ViewBag.Title = "Index"; }
<h2>Sign UP</h2>
<form action="~/SignUp/SignUp" method="post">
    <div class="form-group">
        <label style="color:red">@ViewBag.Mess</label>
        <br>
        <label class="col-form-label" for="inputDefault">Ime</label>
        <input type="text" class="form-control" placeholder="Unesite ime" name="ime" id="inputDefault" required>



        <label class="col-form-label" for="inputDefault">Prezime</label>
        <input type="text" class="form-control" placeholder="Unesite prezime" name="prezime" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Username</label>
        <input type="text" class="form-control" placeholder="Unesite username" name="username" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Password</label>
        <input type="password" class="form-control" placeholder="Unesite password" name="password" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Email</label>
        <input type="text" class="form-control" placeholder="Unesite email"  name="email" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Datum rodjenja</label>
        <input type="date" max="@ViewBag.Today" class="form-control"  name="birthDate" id="inputDefault" required>



        <label>Pol</label>

        <select name="pol">
            <option value="Male">Musko</option>
            <option value="Female">Zensko</option>

        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
