﻿
@{ ViewBag.Title = "Index"; }
@using PR60_2016.Models;

<body>

    @{ Korisnik user = (Korisnik)Session["US"];

                    if (user == null)
                    {
                        user = new Korisnik();
                        Session["US"] = user;
                    }

                    var del = Request["delete"] != null ? Request["delete"] : "";
                    if (del != "")
                    {
                        Users.users.Remove(del);
                    }

                    if (!user.LoggedIn)
                    {
                        user.Username = Request["username"] != null ? Request["username"] : "";
                        user.Password = Request["password"] != null ? Request["password"] : "";

                        if (user.Username != null && user.Password != null)
                        {
                            user.Login();
                        }
                    } }



    <div class="jumbotron">
        <label style="color:red">@ViewBag.UserMessage</label>
        <form action="~/Login/LogIn" method="post">
            <fieldset class="fild">
                <div class="form-group">


                    <label>Username</label>
                    <input class="form-control" placeholder="Username" name="username" required>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>

    </div>


</body>