﻿@using PR60_2016.Models;
@{ Korisnik user = (Korisnik)Session["US"]; }
<!DOCTYPE html>
<style>
    .nav-item a:hover {
        text-decoration: none;
    }

    .nav-item mr-sm-3 a:hover {
        text-decoration: none;
    }

    .btn-danger a:hover {
        text-decoration: none
    }

    .btn-danger a {
        color: white;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aranzmani</title>
    @Styles.Render("~/Content/bootstrap-cosmo.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

        @{if (user == null || user.LoggedIn == false)
            {
               <a class="navbar-brand" href="http://localhost:44327/Home/Index">Aranzmani</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> }
           }
    <div class="collapse navbar-collapse" id="navbarColor02">
        @{if (user == null || user.LoggedIn == false)
            {
    <ul class="navbar-nav mr-auto"></ul>
                    <li class="nav-item"> @Html.ActionLink("Pretrazi", "SearchAranzman", "Aranzman")</li> }
                else if (user.LoggedIn)
                {
    <a class="navbar-brand" href="http://localhost:44327/Aranzman">Aranzmani</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item"> @Html.ActionLink("Pretrazi aranzmane", "SearchAranzman", "Aranzman")</li> }
                        <li class="nav-item   mr-sm-3">
                            @Html.ActionLink("Profil", "Index", "Profile", new { area = "" }, null)



                        </li>
                        @{ if (user.Role == UserRole.MENADZER)
                            {
                    <li class="nav-item   mr-sm-3">

                        @Html.ActionLink("Dodaj Aranzman", "AddAranzman", "Aranzman", new { area = "" }, null)
                    </li>
                                        <li class="nav-item   mr-sm-3">

                                            @Html.ActionLink("Dodaj Smestaj", "AddSmestaj", "Aranzman", new { area = "" }, null)
                                        </li>
                                                            <li class="nav-item   mr-sm-3">

                                                                @Html.ActionLink("Pretraga Smestaja", "PretragaSmestaja", "Aranzman", new { area = "" }, null)
                                                            </li>

                                                                                <li class="nav-item   mr-sm-3">
                                                                                    @Html.ActionLink("Moji Aranzmani ", "MenadzerAranzmans", "Aranzman", new { area = "" }, null)
                                                                                </li> } }
                        @{ if (user.Role == UserRole.ADMINISTRATOR)
                            {
                    <li class="nav-item   mr-sm-3">
                        @Html.ActionLink("Dodaj Menadzera", "AddMenadzer", "Admin", new { area = "" }, null)
                    </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Svi Korisnici", "Index", "Admin", new { area = "" }, null)
                                        </li>
                                                            <li class="nav-item   mr-sm-3">
                                                                @Html.ActionLink("Sumnjivi turisti", "SumnjiviTuristi", "Admin", new { area = "" }, null)
                                                            </li>
} }
                        @{ if (user.Role == UserRole.TURISTA)
                            {
                    <li class="nav-item   mr-sm-3">
                        @Html.ActionLink("Moje rezervacije", "MojeRezervacije", "Aranzman", new { area = "" }, null)
                    </li>
 } }

                    </ul>
                                                    <button class="btn-danger"> @Html.ActionLink("Logout", "LogOff", "LogIn", new { area = "" }, null)</button> } }
    </div>
</nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
