﻿
@{
    ViewBag.Title = "AddAranzman";
}

<h2>Dodavanja Aranzmana</h2>

@{ if (ViewBag.Remaining != null)
                {
    <label style="color:red">@ViewBag.Remaining</label> } }

<label style="color:red">@ViewBag.Status</label>
<form action="~/Aranzman/AddAranzman" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Naziv</label>
        <input type="text" class="form-control" placeholder="Unesite naziv" name="naziv" id="inputDefault" required>


        <br>

        <label class="col-form-label" for="inputDefault">Datum pocetka</label>
        <input type="date" max="@ViewBag.DateS" class="form-control" placeholder="Default input" name="dateStart" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Datum pocetka</label>
        <input type="date" max="@ViewBag.DateE" class="form-control" placeholder="Default input" name="dateEnd" id="inputDefault" required>


        <label class="col-form-label" for="inputDefault">Lokacija</label>
        <input type="text" class="form-control" placeholder="Unesite lokaciju putovanja" name="lokacija" id="inputDefault" required>


        <label class="col-form-label" for="inputDefault">Max broj osoba</label>
        <input type="number" min="1" class="form-control" placeholder="Unesite max br osoba" name="maxBrojPutnika" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Vreme nalazenja</label>
        <input type="time" class="form-control" placeholder="Unesite vreme nalazenja" name="vreme" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Opis</label>
        <input type="text" class="form-control" placeholder="Unesite opis" name="opis" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Program putovanja</label>
        <input type="text" class="form-control" placeholder="Unesite program putovanja" name="programPutovanja" id="inputDefault" required>


        <label class="col-form-label" for="inputDefault">Naziv smestaja</label>
        <select name="nazivSmestaja">
            @{ foreach (var smestaj in ViewBag.Smestaji)
                {
                    <option value="@smestaj.Value.Naziv">@smestaj.Value.Naziv</option>
                } }



        </select>

        <label class="col-form-label" for="inputDefault">Mesto nalazenja</label>
        <select name="place">
            @{ foreach (var place in ViewBag.Places)
                {
                    <option value="@place.Value.Place">@place.Value.Place</option>
                } }

        </select>

        <label>Tip prevoza</label>

        <select name="tipP">
            <option value="autobus">Autobus</option>
            <option value="avion">Avion</option>
            <option value="autobusiavion">Autobus i Avion</option>
            <option value="individualan">Individualan</option>
            <option value="ostalo">Ostalo</option>


        </select>

        <label>Tip Aranzmana</label>

        <select name="tipA">
            <option value="polupansion">Polupansion</option>
            <option value="punpansion">Pun Pansion</option>
            <option value="najam">Najam</option>
            <option value="nocenjesadoruckom">Nocenje sa doruckom</option>
            <option value="allinclusive">Allinclusive</option>


        </select>

        

        <br>

        <label class="col-form-label" for="inputDefault">Poster</label>
        <input type="text" class="form-control" placeholder="insert poster" name="poster" id="inputDefault" required>





        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>

