﻿
@{
    ViewBag.Title = "AddSmestajnaJedinica";
}

<h2>Dodaj smestajnu jedinicu</h2>


<form action="~/Aranzman/AddSmestajnaJedinica" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Naziv</label>
        <input type="text" class="form-control" placeholder="Unesite naziv" name="naziv" id="inputDefault" required>

        <br>

        <label class="col-form-label" for="inputDefault">Da li su dozvoljeni ljubimci</label>
        <input type="checkbox" name="ljubimci" value="True">


        <br>
        <label class="col-form-label" for="inputDefault">Maksimalan broj gostiju</label>
        <input type="number" min="1" class="form-control" placeholder="Unesite gostiju" name="maxGostiju" id="inputDefault" required>


        <label class="col-form-label" for="inputDefault">Cena</label>
        <input type="number" min="1" class="form-control" placeholder="Unesite cenu" name="cena" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Id Smestaja</label>
        <input type="text" class="form-control" value="@ViewBag.Smestaj" name="smestajj" id="inputDefault" readonly>

        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>