﻿@using PR60_2016.Models
@{
    ViewBag.Title = "AranzmanInfo";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>Vise o Aranzmanu</h2>


<style>
    .mb-3 {
        margin-left: 0%;
        width: 30rem;
        float: right;
    }



    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent; 
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .num {
        width: 100px;
    }


    #main {
        vertical-align: middle;
        width: 100%;
        text-align: left;
    }

        #main section {
            background-size: cover;
            height: 100vh;
            width: 100vw;
            display: table;
        }

            #main section div {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
</style>


<div class="card mb-3">
    <img class="card-img-top" src="~/images/@ViewBag.Aranzman.Poster" alt="Card image cap">
    <div class="card-body">

        <h5 class="card-title">@ViewBag.Aranzman.Naziv</h5>
        <p class="card-text">Tip Prevoza: @ViewBag.Aranzman.TipP</p>
        <p class="card-text">Tip Aranzmana: @ViewBag.Aranzman.TipA</p>
        <p class="card-text">Broj putnika : @ViewBag.Aranzman.MaxBrojPutnika</p>
        <p class="card-text">Opis: @ViewBag.Aranzman.Opis</p>
        <p class="card-text">Lokacija gde se putuje: @ViewBag.Aranzman.Lokacija</p>
        <p class="card-text">Pocetak putovanja: @ViewBag.Aranzman.DateStart</p>
        <p class="card-text">Povratak: @ViewBag.Aranzman.DateEnd</p>
        <p class="card-text">Program putovanja @ViewBag.Aranzman.ProgramPutovanja</p>
        <p class="card-text">Mesto Nalazenja: @ViewBag.Aranzman.Adresa.Place</p>
        <p class="card-text">Naziv smestaja: @ViewBag.Aranzman.Smestaj.Naziv</p>


        <button>@Html.ActionLink("Vise o smestaju", "SmestajInfo", "Aranzman", new { id = @ViewBag.Aranzman.Smestaj.Id }, null)</button>



    </div>
    <!--
    <form action="~/Aranzman/Rez" method="post">
        <div class="form-group">
            <div class="card text-center">
                <div class="card-header">
                    <button type="submit" class="btn btn-primary">Rezervisi</button>
                </div>
            </div>
        </div>
    </form>


    <form action="~/Aranzman/Rezervacija" method="post">
        <div class="form-group">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your reservation</h5>
                    <p class="card-text">Aranzman:ViewBag.Aranzman.Naziv</p>
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <input type="hidden" class="form-control" name="aranzmanss" id="inputDefault" value="ViewBag.Aranzman.Id">
                    <input type="hidden" class="form-control" name="turista" id="inputDefault" value="us.Id">

                </div>
            </div>
        </div>
    </form>
