﻿
@{
    ViewBag.Title = "EditSmestaj";
}

<h2>EditSmestaj</h2>


<form action="~/Aranzman/AddSmestaj" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Naziv</label>
        <input type="text" class="form-control"  value="@ViewBag.Smestaji.Naziv" name="naziv" id="inputDefault" required>

        <label>Tip Smestaja</label>

        <select value="@ViewBag.Smestaji.TipS" name="tipS">
            <option value="Hotel">Hotel</option>
            <option value="Vila">Vila</option>
            <option value="Motel">Motel</option>

        </select>




        <label class="col-form-label" for="inputDefault">Broj zvezdica</label>
        <input type="number" min="1" class="form-control"value="@ViewBag.Smestaji.BrojZvezdica" name="brojZvezdica" id="inputDefault" required>



        <label class="col-form-label" for="inputDefault">Bazen</label>

        <input type="radio" name="bazen" value="True">Da

        <input type="radio" name="bazen" value="False">Ne
        <br>
        <label class="col-form-label" for="inputDefault">WiFi</label>

        <input type="radio" name="wifi" value="True">Da

        <input type="radio" name="wifi" value="False">Ne
        <br>
        <label class="col-form-label" for="inputDefault">Spa Centar</label>

        <input type="radio" name="spaCentar" value="True">Da

        <input type="radio" name="spaCentar" value="False">Ne
        <br>
        <label class="col-form-label" for="inputDefault">Osobe sa invaliditetom</label>

        <input type="radio" name="osobeSaInvaliditetom" value="True">Da

        <input type="radio" name="osobeSaInvaliditetom" value="False">Ne

      









        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>
