﻿
@{
    ViewBag.Title = "EditAranzman";
}

<h2>EditAranzman</h2>


@{ if (ViewBag.Remaining != null)
    {
        <label style="color:red">@ViewBag.Remaining</label> } }

<label style="color:red">@ViewBag.Status</label>
<form action="~/Aranzman/EditAranzman" method="post">
    <div class="form-group">


        <label class="col-form-label" for="inputDefault">Naziv</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.Naziv" name="naziv" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Id</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.Id" name="id" id="inputDefault" readonly>


        <label class="col-form-label" for="inputDefault">Menadzer Id</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.MenadzerId" name="menadzerId" id="inputDefault" readonly>


        <br>

        <label class="col-form-label" for="inputDefault">Datum pocetka</label>
        <input type="date" class="form-control"value="@ViewBag.Aranzman.DateStart" name="dateStart" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Datum pocetka</label>
        <input type="date"  class="form-control"value="@ViewBag.Aranzman.DateEnd" name="dateEnd" id="inputDefault" required>


        <label class="col-form-label" for="inputDefault">Lokacija</label>
        <input type="text" class="form-control"value="@ViewBag.Aranzman.Lokacija" name="lokacija" id="inputDefault" required>
             

        <label class="col-form-label" for="inputDefault">Max broj osoba</label>
        <input type="number" min="1" class="form-control" value="@ViewBag.Aranzman.MaxBrojPutnika" name="maxBrojPutnika" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Vreme nalazenja</label>
        <input type="time" class="form-control" value="@ViewBag.Aranzman.Vreme" name="vreme" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Opis</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.Opis" name="opis" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Program putovanja</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.ProgramPutovanja" name="programPutovanja" id="inputDefault" required>


     




        <label class="col-form-label" for="inputDefault">Mesto nalazenja</label>
        <select name="place">
            @{ foreach (var place in ViewBag.Places)
                {
                    <option value="@place.Value.Place">@place.Value.Place</option>
                } }

        </select>

        <label>Tip prevoza</label>

        <select name="tipP" value="@ViewBag.Aranzman.TipP">
            <option value="autobus">Autobus</option>
            <option value="avion">Avion</option>
            <option value="autobusiavion">Autobus i Avion</option>
            <option value="individualan">Individualan</option>
            <option value="ostalo">Ostalo</option>


        </select>

        <label>Tip Aranzmana</label>

        <select name="tipA" value="@ViewBag.Aranzman.TipA">
            <option value="polupansion">Polupansion</option>
            <option value="punpansion">Pun Pansion</option>
            <option value="najam">Najam</option>
            <option value="nocenjesadoruckom">Nocenje sa doruckom</option>
            <option value="allinclusive">Allinclusive</option>


        </select>



        <br>

        <label class="col-form-label" for="inputDefault">Poster</label>
        <input type="text" class="form-control" value="@ViewBag.Aranzman.Poster" name="poster" id="inputDefault" required>





        <button type="submit" class="btn btn-primary">Izmeni</button>
    </div>
</form>