﻿@using PR60_2016.Models
@{
    ViewBag.Title = "AllAranzmans";
    Korisnik us = (Korisnik)Session["US"];
}

<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }

</style>
<h2>Dobrodosli @us.Username!</h2>
<p>@ViewBag.Menadzer</p>

 


    <table id="myTable">
        <tr class="header">
            <th>Polazak</th>
            <th>Povratak</th>
            <th>Lokacija putovanja</th>
            <th></th>
            

            <th></th>
        </tr>

        @{ foreach (var ar in ViewBag.Aranzmans)
            {
                if (ar.Value.Deleted == false)
                {
                   
                <tr>
                    <td>@ar.Value.DateStart.ToString()</td>
                    <td>@ar.Value.DateEnd.ToString()</td>
                    <td>@ar.Value.Lokacija</td>
                    <td><img src="~/images/@ar.Value.Poster" style="width:30%"></td>
                    

                   

                    <td><button>@Html.ActionLink("View more", "AranzmanInfo", "Aranzman", new { id = ar.Value.Id }, null)</button></td>
                    @if (us.Role == UserRole.MENADZER)
                    {
                        <td><button class="btn-danger">@Html.ActionLink("Delete", "BrisanjeAranzmana", "Aranzman", new { id = ar.Value.Id }, null)</button></td>
                    }
                </tr>
                    }
                }
            }
</table>

