﻿@using PR60_2016.Models;
@{
    ViewBag.Title = "MenadzerAranzmans";
}


<h2>Aranzmans added by you</h2>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>



<div class="row">

    @{ foreach (var ar in ViewBag.Menadzer)
                    {

        <div class="card">
                <div class="card col-6">

                    <h1>@ar.Value.Naziv</h1>
                    <p class="lokacija">@ar.Value.Lokacija</p>
                    <p>@ar.Value.Adresa.Place</p>
                    <p>@ar.Value.DateStart</p>
                    <p>@ar.Value.DateEnd</p>

                    <p><button>@Html.ActionLink("Edit", "EditAranzman", "Aranzman", new { id = ar.Value.Id }, null)</button></p>
               




                </div>
        </div> } }
</div>
