﻿@using PR60_2016.Models
@{
    ViewBag.Title = "MojeRezervacije";
}

<h2>MojeRezervacije</h2>

@{ foreach (var rez in ViewBag.Rez)
                {
                    if (rez.Value.Status == StatusRezervacije.AKTIVNA)
                    {
    <div class="card text-center">
        <div class="card-header">
            Rezervacija
        </div>
        <div class="card-body">

            <p class="card-text">Id ko je rezervisao:@rez.Value.Turista </p>
            <p class="card-text">Id rezervisane jedinice:@rez.Value.Jedinicaa</p>
            <p class="card-text">Status:@rez.Value.Status </p>
        </div>

        @{ if (rez.Value.Status != StatusRezervacije.OTKAZANA)
            {
    <p><button class="btn-danger">@Html.ActionLink("Otkazi", "CancelRezervacija", "Aranzman", new { id = rez.Value.Id }, null)</button></p> } }

    </div> }

                } }
