﻿@using PR60_2016.Models
@{
    ViewBag.Title = "PretragaSmestaja";
    Korisnik us = (Korisnik)Session["US"];
}
<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>
<h2> Pretraga Smestaja</h2>

<br>

<form action="~/Aranzman/PretragaSmestaja" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Ime smestaja</label>
            <input type="text" class="form-control" name="naziv" placeholder="Enter name">
        </div>

    </div>


    <label>Tip smestaja</label>

    <select name="tipS">
        <option value="Undefined">Undefined</option>
        <option value="Hotel">Hotel</option>

        <option value="Vila">Vila</option>
        <option value="Motel">Motel</option>

    </select>





    <label class="col-form-label" for="inputDefault">Bazen</label>
    <input type="checkbox" name="bazen" value="True">
    <br>
    <label class="col-form-label" for="inputDefault">Wifi</label>
    <input type="checkbox" name="wifi" value="True">
    <br>
    <label class="col-form-label" for="inputDefault">Osobe sa invaliditetom</label>
    <input type="checkbox" name="osobeSaInvaliditetom" value="True">
    <br>
    <button>@Html.ActionLink("Svi Smestaji", "AllSmestaj", "Aranzman", new { }, null)</button>
    <br>
    <button>@Html.ActionLink("Pretrazi smestajne jedinice", "AllSmestajneJedinice", "Aranzman", new { }, null)</button>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

@{ if (ViewBag.Error != null)
    {
        <label style="color:red">@ViewBag.Error</label> }
    if (ViewBag.Errorp != null)
    {
        <label style="color:red">@ViewBag.Errorp</label> }

}


@{ if (ViewBag.Find != null)
    {
        <form action="~/Aranzman/SortSmestaj" method="post">
            <label>Rezultati sortiranja:</label>
            <select name="sortType">
                <option value="nameaz">Name a-z</option>
                <option value="nameza">Name z-a</option>
               

            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>

        <br>


        <table id="myTable">
            <tr class="header">
                <th>Naziv</th>
                <th>Tip smestaja</th>
                <th>Bazen</th>
                <th>Osobe sa invaliditetom</th>
                <th>Spa centar</th>
                <th>Wi fi</th>

                
            </tr>

            @{ foreach (var s in ViewBag.Find)
                {

                        <tr>
                            <td>@s.Value.Naziv</td>
                            <td>@s.Value.TipS</td>
                            <td>@s.Value.Bazen</td>
                            <td>@s.Value.OsobeSaInvaliditetom</td>
                            <td>@s.Value.SpaCentar</td>
                            <td>@s.Value.Wifi</td>


                        </tr>
                }
            }
        </table>
    }
}

