﻿@using PR60_2016.Models
@{
    ViewBag.Title = "PretragaSmestajneJedinice";
    Korisnik us = (Korisnik)Session["US"];
}
<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>

<h2>PretragaSmestajneJedinice</h2>


<form action="~/Aranzman/PretragaSmestajneJedinice" method="post">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="inputDefault">Donja granica broja gostiju</label>
            <input type="number" min="1" class="form-control" placeholder="Unesite broj" name="minGostiju">
        </div>

        <div class="form-row">
            <label class="col-form-label" for="inputDefault">Gornja granica broja gostiju</label>
            <input type="number" min="1" class="form-control" placeholder="Unesite broj" name="maxGostiju1" id="inputDefault">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="inputDefault">Cena</label>
                <input type="number" min="1" class="form-control" placeholder="Unesite cenu" name="cena">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="inputDefault">Da li su dozvoljeni ljubimci</label>
                <input type="checkbox" name="ljubimci" value="True">
                </div>
            </div>


            </div>
            <br>
            <button>@Html.ActionLink("Sve jedinice", "AllSmestajneJedinice", "Aranzman", new { }, null)</button>

            <button type="submit" class="btn btn-primary">Search</button>
</form>


@{ if (ViewBag.Error != null)
    {
        <label style="color:red">@ViewBag.Error</label> }
    if (ViewBag.Errorp != null)
    {
        <label style="color:red">@ViewBag.Errorp</label> }

}


@{ if (ViewBag.Find != null)
    {
        <form action="~/Aranzman/SortSmestajnajedinica" method="post">
            <label>Sort results by:</label>
            <select name="sortType">
                <option value="brojasc">Broj asc</option>
                <option value="brojdsc">Broj dsc</option>
                <option value="cenaasc">Cena asc</option>
                <option value="cenadsc">Cena dsc</option>
               
            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>

        <br>


        <table id="myTable">
            <tr class="header">
                <th>Maksimalan broj osoba</th>
                <th>Ljubimci</th>
                <th>Cena</th>
               
               
            </tr>

            @{ foreach (var s in ViewBag.Find)
                {

                    <tr>
                        <td>@s.Value.MaxGostiju</td>
                        <td>@s.Value.Ljubimci</td>
                        <td>@s.Value.Cena</td>
                        

                    </tr>
                }
            } 
        </table>
    }
}