﻿@using PR60_2016.Models
@{
    ViewBag.Title = "SearchAranzman";
    Korisnik us = (Korisnik)Session["US"];
}
<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>
<h2>Pretrazi Aranzmane</h2>

<br>

<form action="~/Aranzman/SearchAranzman" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Aranzman name</label>
            <input type="text" class="form-control" name="naziv" placeholder="Enter name">
        </div>

    </div>




    <div class="form-row">
        <div class="form-group">
            <label for="inputAddress">Date Start:</label>
            <input type="date" class="form-control" name="dateMin1" placeholder="Choose date">
        </div>
        <div class="form-group">

            <input type="date" class="form-control" name="dateMin2" placeholder="Choose date">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="inputAddress">Date End:</label>
            <input type="date" class="form-control" name="dateMax1" placeholder="Choose date">
        </div>
        <div class="form-group">

            <input type="date" class="form-control" name="dateMax2" placeholder="Choose date">
        </div>
    </div>


    <label>Tip Prevoza</label>

    <select name="tipP">
        <option value="Undefined">Undefined</option>
        <option value="AvioniAutobus">AvioniAutobus</option>

        <option value="Autobus">Autobus</option>
        <option value="Avion">Avion</option>

    </select>

    <label>Tip Aranzmana</label>

    <select name="tipA">
        <option value="Undefined">Undefined</option>
        <option value="Pansion">Pansion</option>

        <option value="Polupansion">Polupansion</option>
        <option value="Najam">Najam</option>

    </select>

    <br>
    <button>@Html.ActionLink("Svi Aranzmani", "AllAranzmans", "Aranzman", new { }, null)</button>
    <br>


    <button type="submit" class="btn btn-primary">Search</button>
</form>

@{ if (ViewBag.Error != null)
    {
        <label style="color:red">@ViewBag.Error</label> }
    if (ViewBag.Errorp != null)
    {
        <label style="color:red">@ViewBag.Errorp</label> }

}


@{ if (ViewBag.Find != null)
    {
        <form action="~/Aranzman/SortAranzman" method="post">
            <label>Sort results by:</label>
            <select name="sortType">
                <option value="nameaz">Name a-z</option>
                <option value="nameza">Name z-a</option>
                <option value="dateascstart">Date asc start</option>
                <option value="datedscstart">Date dsc start</option>
                <option value="dateascsend">Date asc end</option>
                <option value="datedscsend">Date dsc end</option>

            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>

        <br>


        <table id="myTable">
            <tr class="header">
                <th>Naziv</th>
                <th>Lokacija</th>
                <th>Date Start</th>
                <th>Date End</th>
                <th>Tip Prevoza</th>

                <th></th>
            </tr>

            @{ foreach (var ar in ViewBag.Find)
                {

                    <tr>
                        <td>@ar.Value.Naziv</td>
                        <td>@ar.Value.Lokacija</td>
                        <td>@ar.Value.DateStart.ToString()</td>
                        <td>@ar.Value.DateEnd.ToString()</td>
                        <td>@ar.Value.TipP</td>


                    </tr>
                }
            }
        </table>
                    }
                }