﻿@using PR60_2016.Models
@{
    ViewBag.Title = "SmestajnaJedinicaInfo";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>SmestajInfo</h2>


<style>
    .mb-3 {
        margin-left: 0%;
        width: 30rem;
        float: right;
    }



    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .num {
        width: 100px;
    }


    #main {
        vertical-align: middle;
        width: 100%;
        text-align: left;
    }

        #main section {
            background-size: cover;
            height: 100vh;
            width: 100vw;
            display: table;
        }

            #main section div {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
</style>


<div class="card mb-3">

    <div class="card-body">

        @{ if (@ViewBag.Jedinice.Deleted == false)
            {
                
                <p class="card-text">Da li su dozvoljeni ljubimci: @ViewBag.Jedinice.Ljubimci</p>
                <p class="card-text">Maksimalan broj gostiju: @ViewBag.Jedinice.MaxGostiju</p>
                <p class="card-text">Cena: @ViewBag.Jedinice.Cena</p>

            }
        }
        @{ if (us.Role == UserRole.TURISTA)
            {
                <td><button class="btn-danger">@Html.ActionLink("Rezervisi", "Rezervacija", "Aranzman", new { id = @ViewBag.Jedinice.Id }, null)</button></td>
            }
        }
        <td><button class="btn-danger">@Html.ActionLink("Delete", "BrisanjeSmestajneJedinice", "Aranzman", new { id = @ViewBag.Jedinice.Id }, null)</button></td>

    </div>


</div>
