﻿@using PR60_2016.Models
@{
    ViewBag.Title = "SmestajInfo";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>Vise o smestaju</h2>


<style>
    .mb-3 {
        margin-left: 0%;
        width: 30rem;
        float: right;
    }



    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .num {
        width: 100px;
    }


    #main {
        vertical-align: middle;
        width: 100%;
        text-align: left;
    }

        #main section {
            background-size: cover;
            height: 100vh;
            width: 100vw;
            display: table;
        }

            #main section div {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
</style>

 
<div class="card mb-3">
   
    <div class="card-body">

        @{ if (@ViewBag.Smestaji.Deleted == false)
            {
                <h5 class="card-title">@ViewBag.Smestaji.Naziv</h5>
                <p class="card-text">Tip Smestaja: @ViewBag.Smestaji.TipS</p>
                <p class="card-text">Broj zvezdica: @ViewBag.Smestaji.BrojZvezdica</p>
                <p class="card-text">Bazen : @ViewBag.Smestaji.Bazen</p>
                <p class="card-text">Spa Centar @ViewBag.Smestaji.SpaCentar</p>
                <p class="card-text">Osobe sa invaliditetom: @ViewBag.Smestaji.OsobeSaInvaliditetom</p>
                <p class="card-text">Wi Fi: @ViewBag.Smestaji.Wifi</p>
            }
        }

        <button>@Html.ActionLink("Vise o dostupnoj smestajnoj jedinice", "ListaJedinica", "Aranzman", new { id = @ViewBag.Smestaji.Id }, null)</button>

        @{ if (us.Role == UserRole.MENADZER)
            {
                <td><button class="btn-danger">@Html.ActionLink("Delete", "BrisanjeSmestaja", "Aranzman", new { id = @ViewBag.Smestaji.Id }, null)</button></td>
                <td><button>@Html.ActionLink("Dodaj Jedinicu", "AddSmestajnaJedinica", "Aranzman", new { id = @ViewBag.Smestaji.Id }, null)</button></td>
                <td><button>@Html.ActionLink("Edit ", "EditSmestaj", "Aranzman", new { id = @ViewBag.Smestaji.Id }, null)</button></td>
            }
        }
    </div>
    

</div>
